<!DOCTYPE html>
<html lang="en">
<head>
    <title>企业信息搜索</title>
    <!-- meta -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
    <meta charset="UTF-8">
</head>

<body>
    <div class="col-md-6">
        <header>
        <h1>
           公司微信新闻检索结果统计
        </h1>
        </header>
        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

    </div>
</body>
</html>