{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>

body{
margin-top: 30px;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 10px;
padding:40px 10px 40px 10px;
}
</style>
    <link rel="stylesheet" type="text/css" href={% static 'weixin/css/bootstrap.min.css' %} />

    <meta charset="UTF-8">
    <title>公司信息汇总</title>
</head>
<body>
        <div class="vertical-center">
			<div class="col-sm-12">
				<form role="form" class="form-horizontal" action="/stats" method="GET">
                    <span>请选择查询的时间段</span>
					<input class="btn btn-default btn-md" name="submit" type="submit" value="查询" style="float: right"/>
                    <input type="radio" name="timerange" value="oneday">
                    <label>一天内</label>
                    <input type="radio" name="timerange" value="onemonth">
                    <label>一月内</label>
				</form>
			</div>
		</div>
</body>
</html>